stages:
  - build
  - deploy
  
job1_build:
 artifacts:
   untracked: true
 image: microsoft/dotnet:latest
 stage: build
 script:
  - 'dotnet restore GelbooruChannelBot'
  - 'dotnet build GelbooruChannelBot'
 only:
   - dev
   - master

job1_deploy:
 image: docker:latest
 stage: deploy
 net: host
 devices:
  - /dev/net/tun:/dev/net/tun
 dependencies:
  - job1_build
 script:
  - 'docker stop gelbooruchannelbot || true && docker rm gelbooruchannelbot || true'
  - 'docker build -t gelbooruchannelbot .'
  - 'docker run --restart=always --name gelbooruchannelbot -d gelbooruchannelbot'
 only:
  - master
