stages:
  - build
  - deploy
  
job1_build:
 image: microsoft/dotnet:latest
 stage: build
 script:
  - dotnet restore GelbooruChannelBot
  - dotnet build GelbooruChannelBot
 only:
   - dev
   - master

deploy_database:
 variables:
    MYSQL_USER_NAME: $MYSQL_USER
    MYSQL_USER_PASSWORD: $MYSQL_PASSWORD
    MYSQL_USER_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
 image: docker:latest
 stage: deploy
 script:
  - env | sed -n '/MYSQL/p' > .env
  - docker stop PCD_db || true && docker rm PCD_db || true
  - docker run --restart=always --name PCD_db  -d -v mysqldata:/var/lib/mysql --env-file=.env mysql
 environment:
    name: database
 only:
   - database
   
deploy_yandere:
 variables:
    ANNOUNCE_CHANNEL_BOT_TOKEN: $ANNOUNCE_CHANNEL_TELEGRAM_BOT_TOKEN
    ANNOUNCE_CHANNEL_CHAT_ID: $ANNOUNCE_CHANNEL_CHAT_ID
    CHANNEL_BOT_TOKEN: $YANDERE_CHANNEL_TELEGRAM_BOT_TOKEN
    CHANNEL_CHAT_ID: $YANDERE_CHANNEL_CHAT_ID
    CHANNEL_REQUEST_URL: $YANDERE_CHANNEL_REQUEST_URL
    MYSQL_USER_NAME: $MYSQL_USER
    MYSQL_USER_PASSWORD: $MYSQL_PASSWORD
    MYSQL_USER_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
 image: docker:latest
 stage: deploy
 dependencies:
  - job1_build
 script:
  - env | sed -n '/CHANNEL/p; /MYSQL/p' > .env
  - docker build -t yandere-channel-bot .
  - docker stop yandere-channel-bot || true && docker rm yandere-channel-bot || true
  - docker run --restart=always --name yandere-channel-bot -d --env-file=.env yandere-channel-bot
 environment:
    name: Yande.re
 only:
  - master
  
deploy_gelbooru:
 variables:
    ANNOUNCE_CHANNEL_BOT_TOKEN: $ANNOUNCE_CHANNEL_TELEGRAM_BOT_TOKEN
    ANNOUNCE_CHANNEL_CHAT_ID: $ANNOUNCE_CHANNEL_CHAT_ID
    CHANNEL_BOT_TOKEN: $GELBOORU_CHANNEL_TELEGRAM_BOT_TOKEN
    CHANNEL_CHAT_ID: $GELBOORU_CHANNEL_CHAT_ID
    CHANNEL_REQUEST_URL: $GELBOORU_CHANNEL_REQUEST_URL
    MYSQL_USER_NAME: $MYSQL_USER
    MYSQL_USER_PASSWORD: $MYSQL_PASSWORD
    MYSQL_USER_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
 image: docker:latest
 stage: deploy
 dependencies:
  - job1_build
 script:
  - env | sed -n '/CHANNEL/p; /MYSQL/p' > .env
  - docker build -t gelbooruchannelbot .
  - docker stop gelbooruchannelbot || true && docker rm gelbooruchannelbot || true
  - docker run --restart=always --name gelbooruchannelbot -d --env-file=.env gelbooruchannelbot
 environment:
    name: Gelbooru.com
 only:
  - master
