stages:
  - build
  - deploy
  
job1_build:
 artifacts:
   untracked: true
 image: microsoft/dotnet:latest
 stage: build
 script:
  - 'dotnet restore GelbooruChannelBot'
  - 'dotnet build GelbooruChannelBot'
 only:
   - dev
   - master

deploy_yandere:
 variables:
    CHANNEL_BOT_TOKEN: "394374628:AAENGbV3XS3gQqZ7Q6Dn3FNbqjuumKAaqcQ"
    CHANNEL_CHAT_ID: "-1001115851123"
 image: docker:latest
 stage: deploy
 dependencies:
  - job1_build
 script:
  - 'docker stop yandere-channel-bot || true && docker rm yandere-channel-bot || true'
  - 'docker build -t yandere-channel-bot .'
  - 'docker run --restart=always --name yandere-channel-bot -d yandere-channel-bot'
 environment:
    name: Yande.re
 only:
  - master
  
deploy_gelbooru:
 variables:
    CHANNEL_BOT_TOKEN: "468402185:AAGUZpYGp5dGsy-sFf2_3UT6zHs_tJbaVdg"
    CHANNEL_CHAT_ID: "-1001114198374"
 image: docker:latest
 stage: deploy
 dependencies:
  - job1_build
 script:
  - 'docker stop gelbooruchannelbot || true && docker rm gelbooruchannelbot || true'
  - 'docker build -t yandere-channel-bot .'
  - 'docker run --restart=always --name gelbooruchannelbot -d gelbooruchannelbot'
 environment:
    name: gelbooru.com
 only:
  - master


